.oral-amaranth-clownfish {
  text-align:left;
}

.novel-bronze-bear {
  font-weight:bold;
}

.precious-lavender-lark {
  text-align:left;
}

.tall-apricot-bandicoot {
  font-weight:bold;
}

.clever-peach-aphid {
  text-align:left;
}

.chief-silver-wolf {
  font-weight:bold;
}

.criminal-green-goat {
  text-align:left;
}

.helpless-aquamarine-mackerel {
  font-weight:bold;
}

.brave-yellow-aardvark {
  text-align:left;
}

.pleased-moccasin-warbler {
  font-weight:bold;
}

