.glad-amber-mosquito {
  text-align:left;
}

.gentle-lime-wolverine {
  border:1px solid black;
}

.rigid-lavender-vicuna {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.popular-indigo-vulture {
  text-align:left;
}

.ugliest-harlequin-albatross {
  border:1px solid black;
}

.long-gold-piranha {
  font-weight:bold;
}

.[object Object] {
  text-align:left;
}

.[object Object] {
  border:1px solid black;
}

.[object Object] {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

