.sweet-coffee-rat {
  text-align:left;
}

.eldest-crimson-bear {
  border:1px solid black;
}

.numerous-apricot-catfish {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

