.functional-indigo-stingray {
  text-align:left;
}

.whole-tan-panther {
  border:1px solid black;
}

.classical-copper-landfowl {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;border:1px solid black;background-image:linear-gradient(to right,#000,#fff)
}

th,td {
  padding:5px
}

.okay-lavender-donkey {
  text-align:left;
}

.lexical-yellow-angelfish {
  border:1px solid black;
}

.cruel-tomato-pheasant {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;border:1px solid black;background-image:linear-gradient(to right,#000,#fff)
}

th,td {
  padding:5px
}

.wandering-chocolate-turkey {
  text-align:left;
}

.rare-tan-anaconda {
  border:1px solid black;
}

.noisy-green-constrictor {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;border:1px solid black;background-image:linear-gradient(to right,#000,#fff)
}

th,td {
  padding:5px
}

