.required-blush-ferret {
  text-align:left;
}

.pleased-cyan-marsupial {
  font-weight:bold;
}

.linear-sapphire-damselfly {
  text-align:left;
}

.disturbing-chocolate-sailfish {
  font-weight:bold;
}

.shaggy-emerald-opossum {
  text-align:left;
}

.grumpy-peach-silverfish {
  font-weight:bold;
}

.fixed-green-donkey {
  text-align:left;
}

.slim-fuchsia-echidna {
  font-weight:bold;
}

.mysterious-coffee-haddock {
  text-align:left;
}

.thoughtful-crimson-turkey {
  font-weight:bold;
}

.spicy-indigo-capybara {
  text-align:left;
}

.similar-peach-butterfly {
  font-weight:bold;
}

.welsh-fuchsia-crayfish {
  text-align:left;
}

.tight-salmon-toucan {
  font-weight:bold;
}

.arab-maroon-planarian {
  text-align:left;
}

.expected-turquoise-guineafowl {
  font-weight:bold;
}

.wonderful-emerald-goldfish {
  text-align:left;
}

.anxious-lavender-donkey {
  font-weight:bold;
}

.favourite-harlequin-lark {
  text-align:left;
}

.regular-turquoise-opossum {
  font-weight:bold;
}

.extended-jade-shark {
  text-align:left;
}

.friendly-crimson-sturgeon {
  font-weight:bold;
}

.ok-chocolate-crawdad {
  text-align:left;
}

.deep-amber-mammal {
  font-weight:bold;
}

.typical-chocolate-boar {
  text-align:left;
}

.exceptional-gray-alpaca {
  font-weight:bold;
}

.spontaneous-blush-rat {
  text-align:left;
}

.entitled-copper-panther {
  font-weight:bold;
}

.visible-lime-ape {
  text-align:left;
}

.sound-coral-fowl {
  font-weight:bold;
}

.firm-turquoise-salmon {
  text-align:left;
}

.alternative-white-haddock {
  font-weight:bold;
}

.curly-lavender-meerkat {
  text-align:left;
}

.other-fuchsia-anglerfish {
  font-weight:bold;
}

.main-coral-tapir {
  text-align:left;
}

.accused-harlequin-tern {
  font-weight:bold;
}

