.disturbed-olive-ape {
  text-align:left;
}

.unknown-sapphire-pinniped {
  font-weight:bold;
}

.solar-purple-locust {
  text-align:left;
}

.sensible-lime-mole {
  font-weight:bold;
}

.mechanical-copper-prawn {
  text-align:left;
}

.literary-azure-roadrunner {
  font-weight:bold;
}

.huge-ivory-clownfish {
  text-align:left;
}

.uneven-yellow-butterfly {
  font-weight:bold;
}

.missing-violet-ermine {
  text-align:left;
}

.productive-cyan-cat {
  font-weight:bold;
}

.marginal-tan-bonobo {
  text-align:left;
}

.coastal-olive-alpaca {
  font-weight:bold;
}

.implicit-moccasin-cricket {
  text-align:left;
}

.boiling-gold-thrush {
  font-weight:bold;
}

.breakable-white-whitefish {
  text-align:left;
}

.varied-cyan-hoverfly {
  font-weight:bold;
}

.involved-copper-crab {
  text-align:left;
}

.ethnic-peach-wallaby {
  font-weight:bold;
}

.ethnic-crimson-whale {
  text-align:left;
}

.divine-sapphire-tiglon {
  font-weight:bold;
}

.weird-rose-basilisk {
  text-align:left;
}

.mammoth-turquoise-dove {
  font-weight:bold;
}

