.previous-black-puma {
  text-align:left;
}

.adverse-purple-flyingfish {
  border:1px solid black;
}

.black-black-camel {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.interior-magenta-hookworm {
  text-align:left;
}

.bored-chocolate-swallow {
  border:1px solid black;
}

.intensive-fuchsia-ferret {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.unwilling-moccasin-toad {
  text-align:left;
}

.estimated-tan-muskox {
  border:1px solid black;
}

.depressed-azure-dinosaur {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.final-beige-snake {
  text-align:left;
}

.regulatory-magenta-sailfish {
  border:1px solid black;
}

.progressive-scarlet-partridge {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.reasonable-gold-angelfish {
  text-align:left;
}

.frantic-tomato-wren {
  border:1px solid black;
}

.glorious-salmon-yak {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.striped-jade-quail {
  text-align:left;
}

.ill-magenta-reptile {
  border:1px solid black;
}

.ill-coffee-turkey {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.wet-crimson-jackal {
  text-align:left;
}

.realistic-cyan-orca {
  border:1px solid black;
}

.foolish-fuchsia-eel {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

