.previous-black-puma {
  text-align:left;
}

.adverse-purple-flyingfish {
  border:1px solid black;
}

.black-black-camel {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.interior-magenta-hookworm {
  text-align:left;
}

.bored-chocolate-swallow {
  border:1px solid black;
}

.intensive-fuchsia-ferret {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.unwilling-moccasin-toad {
  text-align:left;
}

.estimated-tan-muskox {
  border:1px solid black;
}

.depressed-azure-dinosaur {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.final-beige-snake {
  text-align:left;
}

.regulatory-magenta-sailfish {
  border:1px solid black;
}

.progressive-scarlet-partridge {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.reasonable-gold-angelfish {
  text-align:left;
}

.frantic-tomato-wren {
  border:1px solid black;
}

.glorious-salmon-yak {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.striped-jade-quail {
  text-align:left;
}

.ill-magenta-reptile {
  border:1px solid black;
}

.ill-coffee-turkey {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.wet-crimson-jackal {
  text-align:left;
}

.realistic-cyan-orca {
  border:1px solid black;
}

.foolish-fuchsia-eel {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.keen-red-chipmunk {
  text-align:left;
}

.comprehensive-copper-guppy {
  border:1px solid black;
}

.raw-teal-cobra {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.sudden-sapphire-tarantula {
  text-align:left;
}

.cute-maroon-asp {
  border:1px solid black;
}

.capable-apricot-swan {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.stable-plum-stork {
  text-align:left;
}

.open-purple-tapir {
  border:1px solid black;
}

.empty-coral-canid {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.steady-lime-quelea {
  text-align:left;
}

.competent-coffee-eagle {
  border:1px solid black;
}

.immense-scarlet-manatee {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.closed-amethyst-gecko {
  text-align:left;
}

.negative-maroon-ptarmigan {
  border:1px solid black;
}

.splendid-jade-toucan {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

