.various-beige-leech {
  width:60%;
}

body {
  padding:10px;
}

.various-beige-leech {
  width:60%;
}

.sleepy-amaranth-yak {
  text-align:left;
}

.uneven-ivory-horse {
  border:1px solid black;
}

.german-plum-pony {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.various-beige-leech {
  width:60%;
}

.sleepy-amaranth-yak {
  text-align:left;
}

.uneven-ivory-horse {
  border:1px solid black;
}

.german-plum-pony {
  font-weight:bold;
}

.complete-chocolate-seahorse {
  text-align:left;
}

.testing {
  background-color:black;
  color:white;
}

ol {
  list-style:none;
  counter-reset:mv-counter;
}

li {
  counter-increment:mv-counter;
  margin:0.25rem;
}

li::before {
  content:counter(mv-counter);
  background:#662974;
  width:2rem;
  height:2rem;
  border-radius:50%;
  display:inline-block;
  line-height:2rem;
  color:white;
  text-align:center;
  margin-right:0.5rem;
}

body {
  font-family:'PT Serif',serif;
}

.resonant-scarlet-monkey {
  width:60%;
}

body {
  padding:10px;
}

.resonant-scarlet-monkey {
  width:60%;
}

.sure-black-snipe {
  text-align:left;
}

.scared-sapphire-meadowlark {
  border:1px solid black;
}

.outside-tomato-horse {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.resonant-scarlet-monkey {
  width:60%;
}

.sure-black-snipe {
  text-align:left;
}

.scared-sapphire-meadowlark {
  border:1px solid black;
}

.outside-tomato-horse {
  font-weight:bold;
}

.promising-indigo-tortoise {
  text-align:left;
}

.testing {
  background-color:black;
  color:white;
}

ol {
  list-style:none;
  counter-reset:mv-counter;
}

li {
  counter-increment:mv-counter;
  margin:0.25rem;
}

li::before {
  content:counter(mv-counter);
  background:#662974;
  width:2rem;
  height:2rem;
  border-radius:50%;
  display:inline-block;
  line-height:2rem;
  color:white;
  text-align:center;
  margin-right:0.5rem;
}

body {
  font-family:'PT Serif',serif;
}

.fortunate-blush-salamander {
  width:60%;
}

body {
  padding:10px;
}

.fortunate-blush-salamander {
  width:60%;
}

.painful-aqua-koi {
  text-align:left;
}

.glamorous-copper-reptile {
  border:1px solid black;
}

.ashamed-pink-warbler {
  font-weight:bold;
}

table,th,td {
  border-collapse:collapse;
  border:1px solid black;
  background-image:linear-gradient(to right,#000,#fff);
}

th,td {
  padding:5px;
}

.fortunate-blush-salamander {
  width:60%;
}

.painful-aqua-koi {
  text-align:left;
}

.glamorous-copper-reptile {
  border:1px solid black;
}

.ashamed-pink-warbler {
  font-weight:bold;
}

.armed-blush-weasel {
  text-align:left;
}

.testing {
  background-color:black;
  color:white;
}

ol {
  list-style:none;
  counter-reset:mv-counter;
}

li {
  counter-increment:mv-counter;
  margin:0.25rem;
}

li::before {
  content:counter(mv-counter);
  background:#662974;
  width:2rem;
  height:2rem;
  border-radius:50%;
  display:inline-block;
  line-height:2rem;
  color:white;
  text-align:center;
  margin-right:0.5rem;
}

body {
  font-family:'PT Serif',serif;
}

